* {
margin: 0;
padding: 0;
}
:root {
    --brand-font: 'Roboto', sans-serif;
    --brand-color: #434455;
    --logo-color1: #4d5ae5;
    --logo-color2: #2e2f42;
    --background-color: #ffffff;
    --HoverFocus-color: #404bbf;
    --section-background-color: #F4F4FD;
    --border-color: #e7e9fc;
}
body {
    font-family: var(--brand-font);
    background-color: var(--background-color);
    color: var(--brand-color);
}
.main {
    padding-bottom: 120px;
}
.main-portfolio {
    padding: 96px 0 120px;
}
img {
    display: block;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-div {
    display: flex;
    gap: 332px;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color1);
    margin-right: 76px;
}
.logo-studio-top {
    color: var(--logo-color2);
}
.link {
    text-decoration: none;
    cursor: pointer;
}
.link.address {
    text-decoration: none;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}

.link.address:hover,
.link.address:focus {
    color: var(--HoverFocus-color);
}
.link.nav {
    color: var(--logo-color2);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.link.nav:hover,
.link.nav:focus {
    color: var(--HoverFocus-color);
}
.list {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
}
.list.nav {
    display: flex;
    gap: 40px;
}
.list-values {
    width: calc((100% - 72px) / 4);
    padding: 0;
}
.list.address {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.list-main {
    width: calc((100% - 48px) / 3);
}
.list-portfolio-buttons {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.button.portfolio {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}
.button.portfolio:hover, .button.portfolio:focus {
    border: 1px solid transparent;
}
.list-portfolio-elements {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
}
.list-portofolio-element {
    width: calc((100% - 48px) / 3);
}
.portfolio-element {
    padding: 32px 16px;
    border: 1px solid var(--border-color);
    border-top: none;
    margin-bottom: 8px;
}
.hero-image {
    background-color: var(--logo-color2);
    padding: 188px 0;
}
.hero-header {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--background-color);
    max-width: 496px;
    margin: 0 auto;
}
.button.studio {
    font-family: 'Roboto', sans-serif;
    background-color: var(--logo-color1);
    color: var(--background-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    height: 56px;
    min-width: 169px;
    display: block;
    margin: 0 auto;
}
.button:hover, .button:focus {
    background-color: var(--HoverFocus-color);
}
.button.portfolio {
    background-color: var(--section-background-color);
    color: var(--logo-color1)
}
.button.portfolio:hover, button.portfolio:focus {
    background-color: var(--HoverFocus-color);
    color: var(--background-color);
}
.values {
    padding: 120px 0;
}
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-color2);
    margin-bottom: 8px;
}
.section-title {
    color: var(--logo-color2);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom:  72px;
}
.image-title {
    color: var(--logo-color2);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.text {
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.image-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.team {
    background-color: var(--section-background-color);
    padding: 120px 0;
}
.list-team {
    background-color: var(--background-color);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.li-description {
    padding: 32px 0;
}
.footer {
    background-color: var(--logo-color2);
    padding: 100px 0;
}
.logo-studio-bottom {
    color: var(--section-background-color);
    text-decoration: none;
}
.footer-text {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--section-background-color);
    max-width: 264px;
}
footer > div > .link.logo {
    display: inline-block;
    margin-bottom: 16px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}