:root {
    --brand-font: 'Roboto', sans-serif;
    --brand-color: #434455;
    --logo-color1: #4d5ae5;
    --logo-color2: #2e2f42;
    --background-color: #ffffff;
    --HoverActive-color: #404bbf;
}
body {
    font-family: var(--brand-font);
    background-color: var(--background-color);
    color: var(--brand-color);
}
a {
    cursor: pointer;
}
a.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color1);
}
span.logo_studio {
    color: var(--logo-color2);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.link.nav {
        color: var(--logo-color2);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
}
.link.nav:hover {
    color: var(--HoverActive-color);
}
.link.nav:focus {
    color: var(--HoverActive-color);
}
.link.address {
    text-decoration: none;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.link.address:hover {
    color: var(--HoverActive-color);
}
.link.address:focus {
    color: var(--HoverActive-color);   
}
