:root {
    --brand-font: 'Roboto', sans-serif;
    --brand-color: #434455;
    --background-color: #ffffff;
}
body {
    font-family: var(--brand-font);
    background-color: var(--background-color);
    color: var(--brand-color);
}