:root {
    --brand-font: 'Roboto', sans-serif;
    --brand-color: #434455;
    --logo-color1: #4d5ae5;
    --logo-color2: #2e2f42;
    --background-color: #ffffff;
    --HoverFocus-color: #404bbf;
    --section-background-color: #F4F4FD;
}
body {
    font-family: var(--brand-font);
    background-color: var(--background-color);
    color: var(--brand-color);
}
a {
    cursor: pointer;
}
a.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color1);
}
span.logo_studio_top {
    color: var(--logo-color2);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.link.nav {
        color: var(--logo-color2);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
}
.link.nav:hover, .link.nav:focus {
    color: var(--HoverFocus-color);
}
.link.address {
    text-decoration: none;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.link.address:hover, .link.address:focus {
    color: var(--HoverFocus-color); 
}
.hero_image {
    background-color: var(--logo-color2);
}
.hero_image_header {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--background-color)
}
.button {
    font-family: 'Roboto', sans-serif;
    background-color: var(--logo-color1);
    color: var(--background-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:hover, .button:focus {
    background-color: var(--HoverFocus-color);
}
.button.portfolio {
    background-color: var(--section-background-color);
    color: var(--logo-color1)
}
.button.portfolio:hover, button.portfolio:focus {
    background-color: var(--HoverFocus-color);
    color: var(--background-color);
}
.section_title {
    color: var(--logo-color2);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.section_p_title {
    color: var(--logo-color2);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section_p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section_our-team {
    background-color: var(--section-background-color);
}
.list-team {
    background-color: var(--background-color);
}
.footer {
    background-color: var(--logo-color2);
}
span.logo_studio_bottom {
    color: var(--section-background-color);
    text-decoration: none;
}
p.footer_p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--section-background-color);
}