* {
margin: 0;
padding: 0;
}
:root {
    --brand-font: 'Roboto', sans-serif;
    --brand-color: #434455;
    --logo-color1: #4d5ae5;
    --logo-color2: #2e2f42;
    --background-color: #ffffff;
    --HoverFocus-color: #404bbf;
    --section-background-color: #F4F4FD;
    --border-color: #e7e9fc;
    --customers-color: #8e8f99;
    --socials-hover-footer: #31d0aa;
    --modal-color: #fcfcfc;
}
:hover
:focus {
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-family: var(--brand-font);
    background-color: var(--background-color);
    color: var(--brand-color);
}
.main {
    padding-bottom: 120px;
}
.main-portfolio {
    padding: 96px 0 120px;
}
img {
    display: block;
}
.header {
    border-bottom: 1px solid var(--border-color);
    box-shadow: 
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-div {
    display: flex;
    justify-content: space-around;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color1);
    margin-right: 76px;
}
.logo-studio-top {
    color: var(--logo-color2);
}
.link {
    text-decoration: none;
    cursor: pointer;
}
.link.address {
    text-decoration: none;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.address:hover,
.link.address:focus {
    color: var(--HoverFocus-color);   
}
.link.nav {
    color: var(--logo-color2);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.nav.active {
    color: var(--HoverFocus-color);
}
.link.nav.active::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--HoverFocus-color);
    border-radius: 2px;
}
.link.nav:hover,
.link.nav:focus {
    color: var(--HoverFocus-color);
}
.list {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
}
.list.nav {
    display: flex;
    gap: 40px;
}
.list-values {
    width: calc((100% - 72px) / 4);
    padding: 0;
}
.list.address {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.list-main {
    width: calc((100% - 48px) / 3);
}
.list-portfolio-buttons {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.button.portfolio {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.portfolio:hover, 
.button.portfolio:focus {
    border: 1px solid transparent;
    box-shadow: 
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    
}
.list-portfolio-elements {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
}
.list-portofolio-element {
    width: calc((100% - 48px) / 3);
}
.portfolio-element {
    padding: 32px 16px;
    border: 1px solid var(--border-color);
    border-top: none;
}
.link.portfolio {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.portfolio:hover,
.link.portfolio:focus {
    box-shadow: 
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.hero-image {
    background-color: var(--logo-color2);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: auto;
}
.hero-header {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--background-color);
    max-width: 496px;
    margin: 0 auto;
}
.button.studio {
    background-color: var(--logo-color1);
    color: var(--background-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    height: 56px;
    min-width: 169px;
    display: block;
    margin: 48px auto 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
    background-color: var(--HoverFocus-color);
    
}
.button.portfolio {
    background-color: var(--section-background-color);
    color: var(--logo-color1)
}
.button.portfolio:hover, button.portfolio:focus {
    background-color: var(--HoverFocus-color);
    color: var(--background-color);
    
}
.values {
    padding: 120px 0;
}
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-color2);
    margin-bottom: 8px;
}
.section-title {
    color: var(--logo-color2);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom:  72px;
}
.image-title {
    color: var(--logo-color2);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.image-title-portfolio {
    color: var(--logo-color2);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}
.text {
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.image-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.image-text-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--brand-color);
}
.team {
    background-color: var(--section-background-color);
    padding: 120px 0;
}
.list-team {
    background-color: var(--background-color);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.li-description {
    padding: 32px 0;
}
.footer {
    background-color: var(--logo-color2);
    padding: 100px 0;
    display: flex;
}
.footer-bigbox {
    display: flex;
    align-items: baseline;
}
.logo-studio-bottom {
    color: var(--section-background-color);
    text-decoration: none;
}
.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--section-background-color);
    max-width: 264px;
    margin-top: 16px;
}
.footer-text-socials {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color);
    max-width: 264px;
    margin-bottom: 16px;
}
footer > div > .link.logo {
    display: inline-block;
}
.footer-div {
    margin-right: 120px;
}
.footer-socials > p {
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.socials {
    display: flex;
    gap: 24px;
    list-style: none;
    justify-content: center;
}
.socials-footer {
    display: flex;
    gap: 16px;
    list-style: none;
    justify-content: center;
}
.socials-element {
    width: 40px;
    height: 40px;
}
.values-images {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--section-background-color);
    margin-bottom: 8px;
    border-radius: 4px;
}
.socials.link, .socials.link-footer {
    width: 100%;
    height: 100%;
    background-color: var(--logo-color1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials.link:hover, 
.socials.link:focus {
background-color: var(--HoverFocus-color);

}
.socials.link-footer:hover,
.socials.link-footer:focus {
    background-color: var(--socials-hover-footer);
    
}
.svg-socials {
fill: var(--section-background-color)
}
section.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers > .container > h2 {
    margin-bottom: 72px;
}
.customers.link{
    width: 168px;
    height: 88px;
    gap: 24px;
    border-radius: 4px;
    border: 1px solid var(--customers-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--customers-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers.link:hover,
.customers.link:focus {
    border-color: var(--HoverFocus-color);
    color: var(--HoverFocus-color); 
}
.svg-customers {
    fill: currentColor; 
}
.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    color: var(--section-background-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: var(--logo-color1);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.to-overlay:hover .overlay-text {
    transform: translateY(0);
}
.to-overlay:focus .overlay-text {
    transform: translateY(0);
}
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
    background-color: var(--HoverFocus-color);
    border: none;
    fill: var(--background-color);
}
.svg-close-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-title {
    text-align: center;
    padding: 72px;
}
label {
    display: block;
    width: 28rem;
    margin-bottom: 1.75rem;
    position: relative;
}
.inputs {
    display: flex;
        width: 360px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
}