:root {
    --brand-font: 'Roboto', sans-serif;
    --brand-color: #434455;
    --logo-color1: #4d5ae5;
    --logo-color2: #2e2f42;
    --background-color: #ffffff;
    --HoverFocus-color: #404bbf;
    --section-background-color: #F4F4FD;
}
body {
    font-family: var(--brand-font);
    background-color: var(--background-color);
    color: var(--brand-color);
}
.main {
    padding: 0 0;
}
img {
    display: block;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-div {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px
}
.hero-image-container {
    max-width: 496px;
}
.nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color1);
    margin-right: 76px;
}
.logo-studio-top {
    color: var(--logo-color2);
}
.link {
    text-decoration: none;
    cursor: pointer;
}
.list {
    list-style: none;
}
.list.nav {
    display: flex;
    gap: 40px;
}
.link.nav {
        color: var(--logo-color2);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        padding: 24 0;
}
.link.nav:hover, .link.nav:focus {
    color: var(--HoverFocus-color);
}
.list.address {
    display: flex;
    gap: 40px;
}
.link.address {
    text-decoration: none;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    padding: 24px 0;
}
.link.address:hover, .link.address:focus {
    color: var(--HoverFocus-color); 
}
.hero-image {
    background-color: var(--logo-color2);
    padding: 188px 0;
}
.hero-header {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--background-color);
    margin: 0;
}
.button.studio {
    font-family: 'Roboto', sans-serif;
    background-color: var(--logo-color1);
    color: var(--background-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    height: 56px;
    min-width: 169px;
    display: block;
}
.button:hover, .button:focus {
    background-color: var(--HoverFocus-color);
}
.button.portfolio {
    background-color: var(--section-background-color);
    color: var(--logo-color1)
}
.button.portfolio:hover, button.portfolio:focus {
    background-color: var(--HoverFocus-color);
    color: var(--background-color);
}
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-color2);
}
.section-title {
    color: var(--logo-color2);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.image-title {
    color: var(--logo-color2);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.image-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team {
    background-color: var(--section-background-color);
}
.list-team {
    background-color: var(--background-color);
}
.footer {
    background-color: var(--logo-color2);
    padding: 100px 0;
}
.logo-studio-bottom {
    color: var(--section-background-color);
    text-decoration: none;
}
.footer-text {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--section-background-color);
    max-width: 264px;
}
footer > div > .link.logo {
    display: inline-block;
    margin-bottom: 16px;
}